body {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: linear-gradient(-45deg, #363636, #2f2f2f, #222222, #111111, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



.navbar {
    padding: 10px 0px;
    width: 100vw;
    max-width: 1140px;
    margin: 0 auto;
    background: none !important;
}

a {
    color: white;
    font-size: 16px !important;
    font-weight: 800 !important;
    text-decoration: none;
}

a:hover {
    color: white;
    font-size: 16px !important;
    font-weight: 800 !important;
    text-decoration: none;
}

.navbar-brand {
    font-weight: 800;
    text-transform: uppercase;
}

button {
    border: none !important;
    border-radius: 2px !important;
    color: white !important;
    font-size: 16px !important;
    font-weight: 800 !important;
    padding: 10px 25px !important;
}

button:hover {
    border: none !important;
    color: white !important;
    font-size: 16px !important;
    font-weight: 800 !important;
    padding: 10px 25px !important;
    transition-duration: 1s;
    box-shadow: 0px 5px 15px 5px #1b98d24c;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 3em !important;
    text-transform: uppercase;
}

.container {
    padding: 40px 0px;
}

.card {
    background-color: #393939;
    border: 2px solid #393939;
    min-height: 500px;
}

.card:hover {
    border: 2px solid #1b97d2;
    transition-duration: 1s;
    box-shadow: 0px 10px 15px 5px #1b98d24c;
}

.card-img-top {
    max-width: 300px;
    margin: 0 auto;
    z-index: 1;
    margin-top: -50px;
    border-radius: 6px !important;
}

.card-img-top:hover {
    max-width: 300px;
    margin: 0 auto;
    z-index: 1;
    margin-top: -20px;
    transition-duration: 2s;
}
.card-title{
    text-transform: lowercase!important;
}
.carousel-item img {
    max-width: 50%;
    margin: 0 auto;

}

.espaco {
    padding: 100px 0px 100px 0px;
}


@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.jaco {
    max-width: 300px;
    margin: 0 auto;
    animation: 3s Infinite linear floating;
    animation-delay: 0s;
}

.modal {
    background: rgba(0, 0, 0, 0.489);
}

.modal-content {
    background: black;
    border: 2px solid #1b97d2;
}

.modal-header,
.modal-body,
.modal-footer {
    border: none !important;
}


@media (max-width: 600px) {
    .container {
        margin: 0px !important;
        padding: 20px !important;
        margin-bottom: 60px !important;
    }

    .espaco {
        padding: 0 !important;
    }

    .navbar {
        padding: 5px 20px !important;
    }

    .jaco {
        display: none !important;
    }

    .card {
        margin: 30px 0px !important;
        min-height: 0px !important;
    }

    .card img {
        width: 80%;
        margin: 0 auto;
    }

    button {
        margin-bottom: 15px;
    }

    .vertical-stepper {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between !important;
    }
}

.nomeusuario {
    background: none !important;
    border: none !important;
    text-align: right !important;
    color: white !important;
    text-transform: capitalize !important;
    font-weight: 600 !important;
    padding: 0px;
    height: 40px !important;
    width: 120px;
}

.vertical-stepper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.step.active .step-number {
    background-color: #007bff;
    color: #fff;
}

.step.active .step-title {
    font-weight: bold;
}

.step-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #007bff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.step-title {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.step-content {
    display: none;
    margin-top: 30px;
}

.step-content.active {
    display: block;
}

.radio-container {
    display: flex;
    flex-direction: row;
}

.radio-container label {
    margin-right: 10px;
}

.radio-container input[type="radio"] {
    display: none;
}

.radio-container input[type="radio"]+label:before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.radio-container input[type="radio"]:checked+label:before {
    background-color: #007bff;
    border-color: #007bff;
}

.radio-container input[type="radio"]:focus+label:before {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}